<form [formGroup]="realtimeForm">
    <mat-form-field appearance="outline">
      
      <mat-label>Time</mat-label>
      
      <input  type="number"
              min="1" 
              matInput 
              formControlName="timeFormControl"
              required>

      <mat-hint>Enter a time value</mat-hint>
        
      <mat-error *ngIf="timeFormControl?.hasError('min') && !timeFormControl?.hasError('required')">
        Please enter a number greater than 0
      </mat-error>

      <mat-error *ngIf="timeFormControl?.hasError('required')">
        Time is <strong>required</strong>
      </mat-error>
     
    </mat-form-field>

    <span style="margin: 15px;">

        <mat-form-field appearance="outline">

          <mat-label>Unit</mat-label>

          <mat-select formControlName="timeUnitFormControl" required>
            <mat-option *ngFor="let type of realTimeTypes" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
          
          <mat-error *ngIf="timeUnitFormControl?.hasError('required')">Please choose a unit</mat-error>
          
          <mat-hint>Select a time unit</mat-hint>
           
        </mat-form-field>

    </span>
</form>



